[Desktop Entry]
Encoding=UTF-8
Name=SlashDash
Comment=SlashDash P2P Cryptocurrency
Comment[fr]=SlashDash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SlashDash, eşten eşe kriptografik sanal para birimi
Exec=slashdash-qt %u
Terminal=false
Type=Application
Icon=divi128
MimeType=x-scheme-handler/slashdash;
Categories=Office;Finance;
